<html>
<head>
    <title>Supper Time!</title>
</head>
<body>

        <h1> {{ tom.getName }} </h1> has eaten a meal!
        <h2> {{ tom.setFood }} {{tom.getFood}} </h2>

    <form action='/game' method='post'>
        <button type='submit' class='btn'>Continue</button>
    </form>
</body>
</html>
