<html>
<head>
    <title>Play Time!</title>
</head>
<body>

        <h1> {{ tom.getName }} </h1> has received extra play time!
        <h2> {{ tom.setPlay }} {{tom.getPlay}} </h2>

    <form action='/game' method='post'>
        <button type='submit' class='btn'>Continue</button>
    </form>
</body>
</html>
