<html>
<head>
    <title>Naptime!</title>
</head>
<body>

        <h1> {{ tom.getName }} </h1> has slept a wink!
        <h2> {{ tom.setSleep }} {{tom.getSleep}} </h2>

    <form action='/game' method='post'>
        <button type='submit' class='btn'>Continue</button>
    </form>
</body>
</html>
