
<html>
<head>
    <title>Your only friend!</title>
</head>
<body>
    <form action='/game' method='post'>
        <label for='name'>Please enter your friend's name!</label>
        <input type='text' name='name' class='form-control'>
        <button type="submit" name="btn"></button>
    </form>

</body>
</html>
