
<html>
<head>
    <title>Your only friend!</title>
</head>
<body>
    <h1>Tamagotchi Game</h1>
    <p>Make sure you take care of your little creature. Ensure rest, feedings and play time or your little guy might die. Never let the values go below zero.
    <form action='/game' method='post'>
        <label for='name'>Please enter your friend's name!</label>
        <input type='text' name='name' class='form-control'>
        <button type="submit" name="btn"></button>
    </form>

</body>
</html>
